h1{
  text-align: center;
}
.container{
  margin: 2rem;
}
#display{
  font-size: 5rem;
}
.btn{
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

#boxTitle{
  margin-top: 2rem;
  text-decoration: underline;
}